<header class="header" id="site-header">
    <div class="header-container container">
            <a class="header-link" href="#home">
                <picture>
                    <source srcset="
                            /img/header/logo-desk.png 1x,
                            /img/header/logo-desk@2x.png 2x
                                        " media="(min-width: 1440px)" />
                    <source srcset="
                            /img/header/logo-mob.png 1x,
                            /img/header/logo-mob@2x.png 2x
                                        " media="(max-width: 1439px)" />
                    <img class="header-logo" src="/img/header/logo-mob.png" alt="Book of the priestess" loading="lazy" />
                </picture>
            </a>
        <button type="button" class="menu-button" aria-label="menu toggle">
            <span class="icon">
<svg width="44" height="44" viewBox="0 0 44 44" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M5.5 33V29.3333H38.5V33H5.5ZM5.5 23.8333V20.1667H38.5V23.8333H5.5ZM5.5 14.6667V11H38.5V14.6667H5.5Z"
        fill="white" />
</svg>
            </span>
        </button>

        <nav class="nav ">
            <ul class="navigation-list">
                <li class="navigation-item">
                    <a class="links" href="./#home">HOME</a>
                </li>
                <li class="navigation-item">
                    <a class="links" href="./#legend">THE LEGEND</a>
                </li>
                <li class="navigation-item">
                    <a class="links" href="./#game">GAME EXPERIENCE</a>
                </li>
                <li class="navigation-item">
                    <a class="links" href="./#genie">GENIE'S POWER</a>
                </li>
                <li class="navigation-item">
                    <a class="links" href="./#magic">MAGIC FLOW SYSTEM</a>
                </li>
                <li class="navigation-item">
                    <a class="links" href="./#infinity">INFINITY MAGIC</a>
                </li>
                <li class="navigation-item">
                    <a class="links" href="./#why">WHY IT'S DIFFERENT</a>
                </li>
                <li class="navigation-item">
                    <a class="links" href="./#demo">PLAY</a>
                </li>
            </ul>
        </nav>
    </div>
</header>
<!-- Mobile menu -->
<div id="modalWindow" class="modal">
    <ul class="menu-list">
        <li class="menu-item"><a class="menu-list-item" href="./#home">Home</a></li>
        <li class="menu-item"><a class="menu-list-item" href="./#ritual">The Ritual</a></li>
        <li class="menu-item"><a class="menu-list-item" href="./#sacred">Sacred Powers</a></li>
        <li class="menu-item">
            <a class="menu-list-item" href="./#demo">Video</a>
        </li>
        <li class="menu-item">
            <a class="menu-list-item" href="./#gallery">Gallery</a>
        </li>
        <li class="menu-item">
            <a class="menu-list-item" href="./#play">Play</a>
        </li>
    </ul>
</div>