<section class="home-section" id="home">
    <div class="container home-container">
        <h1 class="visually-hidden">Book of the priestess</h1>
        <div class="home-wrapper">
            <picture>
                <source srcset="
                /img/hero/logo-desk.png 1x,
                /img/hero/logo-desk@2x.png 2x
                             " media="(min-width: 1440px)" />
                <source srcset="
                /img/hero/logo-mob.png 1x,
                /img/hero/logo-mob@2x.png 2x
                            " media="(max-width: 1439px)" />
                <img class="home-logo" src="/img/hero/logo-mob.png" alt="Book of the priestess" loading="lazy" />
            </picture>
            <h2  class="title home-title">
                <span class="stroke">SOME KNOWLEDGE WAS NEVER<br/>
                    meant to be rushed
                </span>
                <span class="gradient">SOME KNOWLEDGE WAS NEVER<br />
                meant to be rushed</span>
            </h2>
            <p class="home-text">There's this ancient book hidden in an Aztec temple, and it's been protected by rituals for centuries.<br/>The Priestess
            isn't giving up her secrets that easily. She's watching, waiting for just the right moment.</p>
            <a class="hero-link" href="#demo">
                <img src="/img/hero/button.png" alt="Open the Sacred Book" loading="lazy">
            </a>
        </div>
    </div>
</section>
<section class="disclaimer-section">
    <div class="container disclaimer-conntainer">
            <h2 class="title disclaimer-title">
                <span class="stroke">DISCLAIMER</span>
                <span class="gradient">DISCLAIMER</span>
            </h2>
    <p class="disclaimer-text">gametory.site IS A PLATFORM FOR HAVING FUN. THE OUTCOME OF THIS GAME EXPERIENCE SHOULD NOT BE CONSIDERED A REFLECTION OF
    REAL-LIFE RESULTS. GAME IS INTENDED FOR ADULT AUDIENCES OVER 18 YEARS OF AGE. ENJOY THE EXPERIENCE.</p>
    </div>
</section>
<section class="play-section" id="play">
    <div class="container play-container">
                <h2 class="title play-title">
                    <span class="stroke">Play Book of the Priestess</span>
                    <span class="gradient">Play Book of the Priestess</span>
                </h2>
                <h3 class="title subtitle">
                    <span class="stroke">Begin the ritual and see how the temple responds.</span>
                    <span class="gradient">Begin the ritual and see how the temple responds.</span> 
                </h3>
                <picture>
                    <source srcset="
                    /img/play/play-desk.png 1x,
                    /img/play/play-desk@2x.png 2x
                    " media="(min-width: 1440px)" />
                    <source srcset="
                    /img/play/play-mob.png 1x,
                    /img/play/play-mob@2x.png 2x
                    " media="(max-width: 1439px)" />
                    <img class="play-img" src="/img/play/play-mob.png" alt="Book of the priestess" loading="lazy" />
                </picture>
    </div>
</section>
<section class="big-section">
    <article class="ritual-section" id="ritual">
        <div class="container ritual-container">
            <h2 class="title ritual-title">
                <span class="stroke">THE RITUAL<br/>
                How the Magic Awakens</span>
                <span class="gradient">THE RITUAL<br/>
                How the Magic Awakens</span>
            </h2>
            <p class="ritual-text">The whole thing revolves around this sacred ritual.<br/>When the symbols line up just right, the book starts reacting and
            turns basic elements into something way more powerful.<br/>This isn’t about constant motion.<br/>It’s about waiting for the
            right moment, then watching the transformation unfold across the temple walls.</p>
        </div>
    </article>
        <article class="sacred-section" id="sacred">
            <div class="container sacred-container">
                <h2 class="title sacred-title">
                    <span class="stroke">SACRED POWERS<br />
                        The Mask of the Ancients</span>
                    <span class="gradient">SACRED POWERS<br />
                        The Mask of the Ancients</span>
                </h2>
                <p class="sacred-text">The Aztec mask is more than decoration — it’s a source of stored power.<br/>As progress builds, the mask’s energy grows and
                fills the progress bar.<br/>Once you activate it, everything changes on the field and those expanding symbols start showing
                up way more often, totally changing how things play out.</p>
            </div>
        </article>
</section>
<section class="demo-section" id="demo">
    <div class="container demo-container">
                <h2 class="title glimpse-title">
                    <span class="stroke">A Glimpse Inside the Temple</span>
                    <span class="gradient">A Glimpse Inside the Temple</span>
                </h2>
        <div class="demo-wrapper" id="game">
            <picture>
                <source srcset="
                /img/demo/demo-desk.png 1x,
                /img/demo/demo-desk@2x.png 2x
                " media="(min-width: 1440px)" />
                <source srcset="
                /img/demo/demo-mob.png 1x,
                /img/demo/demo-mob@2x.png 2x
                " media="(max-width: 1439px)" />
                <img class="demo-img" src="/img/demo/demo-mob.png" alt="Book of the priestess" loading="lazy" />
            </picture>


            <div class="iframe-wrapper">
                <iframe id="gameIframe" name="gameIframe"></iframe>

                <button id="closeIframeBtn" class="hidden-close-btn" aria-label="Close">
                    <img class="close-img" src="/img/demo/close.png" alt="Close">
                </button>
            </div>
            <a class="demo-btn pulse" href="#"
                data-game-url="https://games-cv.com/book_of_the_priestess_bonus_buy"
                target="gameIframe">
                <img src="/img/hero/button.png" alt="Open the Sacred Book" loading="lazy">
            </a>
        </div>

    </div>
</section>
<section class="gallery-section" id="gallery">
    <div class="container gallery-container">
        <h2 class="title gallery-title">
            <span class="stroke">GALLERY</span>
            <span class="gradient">GALLERY</span>
        </h2>
<div class="swiper gallery-swiper">
    <div class="swiper-wrapper">
        <div class="swiper-slide">
            <picture>
                <source srcset="
                /img/gallery/desk-one.png 1x,
                /img/gallery/desk-one@2x.png 2x
                " media="(min-width: 1440px)" />
                <source srcset="
                /img/gallery/mob-one.png 1x,
                /img/gallery/mob-one@2x.png 2x
                " media="(max-width: 1439px)" />
                <img class="gallery-img" src="/img/gallery/mob-one.png" alt="Book of the priestess" loading="lazy" />
            </picture>
        </div>
        <div class="swiper-slide">
            <picture>
                <source srcset="
                        /img/gallery/desk-two.png 1x,
                        /img/gallery/desk-two@2x.png 2x
                        " media="(min-width: 1440px)" />
                <source srcset="
                        /img/gallery/mob-two.png 1x,
                        /img/gallery/mob-two@2x.png 2x
                        " media="(max-width: 1439px)" />
                <img class="gallery-img" src="/img/gallery/mob-two.png" alt="Book of the priestess" loading="lazy" />
            </picture>
        </div>
        <div class="swiper-slide">
            <picture>
                <source srcset="
                        /img/gallery/desk-three.png 1x,
                        /img/gallery/desk-three@2x.png 2x
                        " media="(min-width: 1440px)" />
                <source srcset="
                        /img/gallery/mob-three.png 1x,
                        /img/gallery/mob-three@2x.png 2x
                        " media="(max-width: 1439px)" />
                <img class="gallery-img" src="../img/gallery/desk-three.png" alt="Book of the priestess" loading="lazy" />
            </picture>
        </div>
        <div class="swiper-slide">
            <picture>
                <source srcset="
                        /img/gallery/desk-one.png 1x,
                        /img/gallery/desk-one@2x.png 2x
                        " media="(min-width: 1440px)" />
                <source srcset="
                        /img/gallery/mob-one.png 1x,
                        /img/gallery/mob-one@2x.png 2x
                        " media="(max-width: 1439px)" />
                <img class="gallery-img" src="/img/gallery/mob-one.png" alt="Book of the priestess" loading="lazy" />
            </picture>
        </div>
        <div class="swiper-slide">
            <picture>
                <source srcset="
                        /img/gallery/desk-two.png 1x,
                        /img/gallery/desk-two@2x.png 2x
                        " media="(min-width: 1440px)" />
                <source srcset="
                        /img/gallery/mob-two.png 1x,
                        /img/gallery/mob-two@2x.png 2x
                        " media="(max-width: 1439px)" />
                <img class="gallery-img" src="/img/gallery/mob-two.png" alt="Book of the priestess" loading="lazy" />
            </picture>
        </div>
        <div class="swiper-slide">
            <picture>
                <source srcset="
                        /img/gallery/desk-three.png 1x,
                        /img/gallery/desk-three@2x.png 2x
                        " media="(min-width: 1440px)" />
                <source srcset="
                        /img/gallery/mob-three.png 1x,
                        /img/gallery/mob-three@2x.png 2x
                        " media="(max-width: 1439px)" />
                <img class="gallery-img" src="/img/gallery/mob-three.png" alt="Book of the priestess" loading="lazy" />
            </picture>
        </div>
    </div>

</div>
<img class="leaves" src="/img/gallery/leaves.png" alt="leaves" loading="lazy">
    </div>
</section>
<section class="why-section" id="why">
    <div class="container why-container">
        <h2 class="title why-title">
            <span class="stroke">WHY BOOK OF THE PRIESTESS FEELS DIFFERENT<br/>
            Built Around Ritual, Not Noise</span>
            <span class="gradient">WHY BOOK OF THE PRIESTESS FEELS DIFFERENT<br />
            Built Around Ritual, Not Noise</span>
        </h2>


<div class="swiper why-swiper">
    <div class="swiper-wrapper">
        <div class="swiper-slide">
            <img class="why-img" src="/img/why/book.png" alt="book" loading="lazy">
            <p class="why-text">Clear progression you can feel building</p>
        </div>
        <div class="swiper-slide">
            <img class="why-img" src="/img/why/book.png" alt="book" loading="lazy">
            <p class="why-text">Transformations that happen for<br/> a reason</p>
        </div>
        <div class="swiper-slide">
            <img class="why-img" src="/img/why/book.png" alt="book" loading="lazy">
            <p class="why-text">Visual storytelling instead of constant prompts</p>
        </div>
        <div class="swiper-slide">
            <img class="why-img" src="/img/why/book.png" alt="book" loading="lazy">
            <p class="why-text">A calm pace that rewards<br/> attention</p>
        </div>
        <div class="swiper-slide">
            <img class="why-img" src="/img/why/book.png" alt="book" loading="lazy">
            <p class="why-text">A theme that stays consistent<br /> from start to finish</p>
        </div>
    </div>
</div>
    </div>
</section>