<section class="home-section" id="home">
    <div class="container home-container">
        <h1 class="visually-hidden">Book of the priestess</h1>
        <div class="home-wrapper">
            <picture>
                <source srcset="
                /img/hero/logo-desk.png 1x,
                /img/hero/logo-desk@2x.png 2x
                             " media="(min-width: 1440px)" />
                <source srcset="
                /img/hero/logo-mob.png 1x,
                /img/hero/logo-mob@2x.png 2x
                            " media="(max-width: 1439px)" />
                <img class="home-logo" src="/img/hero/logo-mob.png" alt="Book of the priestess" loading="lazy" />
            </picture>
            <h2  class="title home-title">
                <span class="stroke">SOME KNOWLEDGE WAS NEVER<br/>
                    meant to be rushed
                </span>
                <span class="gradient">SOME KNOWLEDGE WAS NEVER<br />
                meant to be rushed</span>
            </h2>
            <p class="home-text">There's this ancient book hidden in an Aztec temple, and it's been protected by rituals for centuries.<br/>The Priestess
            isn't giving up her secrets that easily. She's watching, waiting for just the right moment.</p>
            <a class="hero-link" href="#demo">
                <img src="/img/hero/button.png" alt="Open the Sacred Book" loading="lazy">
            </a>
        </div>
    </div>
</section>
<section class="disclaimer-section">
    <div class="container disclaimer-conntainer">
            <h2 class="title disclaimer-title">
                <span class="stroke">DISCLAIMER</span>
                <span class="gradient">DISCLAIMER</span>
            </h2>
    <p class="disclaimer-text">gametory.site IS A PLATFORM FOR HAVING FUN. THE OUTCOME OF THIS GAME EXPERIENCE SHOULD NOT BE CONSIDERED A REFLECTION OF
    REAL-LIFE RESULTS. GAME IS INTENDED FOR ADULT AUDIENCES OVER 18 YEARS OF AGE. ENJOY THE EXPERIENCE.</p>
    </div>
</section>
<section class="play-section" id="play">
    <div class="container play-container">
                <h2 class="title play-title">
                    <span class="stroke">Play Book of the Priestess</span>
                    <span class="gradient">Play Book of the Priestess</span>
                </h2>
                <h3 class="title subtitle">
                    <span class="stroke">Begin the ritual and see how the temple responds.</span>
                    <span class="gradient">Begin the ritual and see how the temple responds.</span> 
                </h3>
                <picture>
                    <source srcset="
                    /img/play/play-desk.png 1x,
                    /img/play/play-desk@2x.png 2x
                    " media="(min-width: 1440px)" />
                    <source srcset="
                    /img/play/play-mob.png 1x,
                    /img/play/play-mob@2x.png 2x
                    " media="(max-width: 1439px)" />
                    <img class="play-img" src="/img/play/play-mob.png" alt="Book of the priestess" loading="lazy" />
                </picture>
    </div>
</section>
<section class="big-section">
    <article class="ritual-section" id="ritual">
        <div class="container ritual-container">
            <h2 class="title ritual-title">
                <span class="stroke">THE RITUAL<br/>
                How the Magic Awakens</span>
                <span class="gradient">THE RITUAL<br/>
                How the Magic Awakens</span>
            </h2>
            <p class="ritual-text">The whole thing revolves around this sacred ritual.<br/>When the symbols line up just right, the book starts reacting and
            turns basic elements into something way more powerful.<br/>This isn’t about constant motion.<br/>It’s about waiting for the
            right moment, then watching the transformation unfold across the temple walls.</p>
        </div>
    </article>
</section>