body{
  background: #fff;
  font-family: "Jost", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.11111;
    letter-spacing: -0.03em;
    text-align: center;
    color: #000;
}
.title {
  position: relative;
font-family: "Londrina Solid", sans-serif;
  font-weight: 400;
  font-size: 32px;
  line-height: 1.25;
  text-transform: uppercase;
  text-align: center;
}

.title span {
  position: absolute;
  left: 0;
  right: 0;
}
.stroke {
  color: #fff;
  text-shadow:
    -3px -3px 0 #fff,
    3px -3px 0 #fff,
    -3px 3px 0 #fff,
    3px 3px 0 #fff,
    0px 3px 0 #fff,
    3px 0px 0 #fff,
    -3px 0px 0 #fff,
    0px -3px 0 #fff;
}

.gradient {
  background: linear-gradient(90deg, #092e9f 0%, #00fbff 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: relative;
}
.subtitle {
  margin-top: 40px;
  font-size: 20px;
}
@media only screen and (min-width: 1440px) {
.title{
 font-size: 40px; 
}
 .subtitle {
   margin-top: 70px;
 }
 
}